footer.footer{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* position: sticky; */
    margin: 0;
    padding: 0px 25px;
    background-color: rgb(48, 199, 43);
    
    box-shadow: var(--shadow);
}

@media screen and (max-width: 768px) {
    html{
        font-size: 56%;
    }
}

/* @media screen and (max-width: 540px) {
    html{
        font-size: 40%;
    }
} */